.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
target/
/target/
.idea/
.idea
.repository/
*.iml
*.iws
repos/com/javarush/desktop-game-engine/maven-metadata-local.xml
repos/com/javarush/desktop-game-engine/1.0/_remote.repositories
